<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.classhelper">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sign"/>
        <activity android:name=".Joinclass"/>
        <activity android:name=".Register"/>
        <activity android:name=".Main"/>
        <activity android:name=".Banji"/>
        <activity android:name=".Jilu"/>
        <activity android:name=".Huodong"/>
        <activity android:name=".Activityo"/>
        <activity android:name=".History"/>
        <activity android:name=".Fabu"/>


    </application>

</manifest>